.icon-48-families {
      background-image: url(../images/l_families.png);
      padding-left:60px!important;
}

.icon-48-family {
      background-image: url(../images/l_families.png);
      padding-left:60px!important;
}

.color-box-families { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-menjadors {
      background-image: url(../images/l_menjadors.png);
      padding-left:60px!important;
}

.icon-48-menjador {
      background-image: url(../images/l_menjadors.png);
      padding-left:60px!important;
}

.color-box-menjadors { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}